@import "compass/css3";
@import "blueprint";
@import "blueprint/grid";
@import "blueprint/buttons";

$invoice_items_color: rgba(243, 243, 255, 0.9);
$pauses_color: rgba(243, 255, 243, 0.9);

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(6px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {}

header {}

#main {}

footer {}



body {
  @include background-image(linear-gradient(left top, #efefff, #efefdd));
}

* {
  font-family: "GentiumBasic";
}

.top_menu {
  display: inline-table;
  .menu_item {
    background: rgba(64, 64, 64, 0.3);
    display: inline-block;
    border: 1px solid rgba(48,48,48,0.3);
    margin-left: 1em;
    padding: 1px 1em;
    //@include rotate(330deg);
  }
}

textarea {
  font-family: "Gentium_Bold";
  font-weight: bold; }

dt {
  display: block; }

dd {
  display: block; }

table {
  tr {
    border: 1px solid #404040;
    th {
      border: 1px solid #404040;
      padding: 2px 14px;
      font-weight: bold;
    }
    td {
      padding: 2px 14px;
      border: 1px dotted #404040;
    }
  }
}

label {
  display: inline-block;
  margin-right: 1em; }

fieldset {
  border: 0; }

strong {
  font-style: italic;
  font-variant: small-caps;
  font-weight: lighter; }

input {
  font-size: 95%; }

.window {
  border: 1px solid #a0a0a0;
  display: inline-table;
  padding: 0 15px;
  //background-image: -moz-radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%)
  @include border-radius(10px);
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); }

#flashmsg {
  position: fixed;
  left: 30%;
  width: 40%;
  top: 4em;
  z-index: 10000;
  border: 0px;
  @include border-radius(6px);
  text-align: center;
  padding: 4px; }

.info {
  background-color: rgba(0, 255, 0, 0.3); }

.warn {
  background-color: rgba(255, 255, 0, 0.3); }

.error {
  background-color: rgba(255, 0, 0, 0.3); }

.fatal {
  background-color: rgba(255, 0, 0, 0.9); }

th {
  background-color: #202020;
  color: white; }

.even {
  background-color: #c0ffc0; }

.odd {}

//invoice index
.invoice_items div {
  background-color: $invoice_items_color;
  margin-left: 2em; }

.pauses div {
  background-color: $pauses_color;
  margin-left: 4em; }

.details-list {
  display: none; }

.details-list.show {
  display: block; }

.details-list li {
  list-style: none; }

.new, .edit, .delete, .details, .ok, .cancel {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 0;
  float: right;
  margin-left: 6px; }

.details {
  background: url("/images/silk.png") repeat scroll -5px -734px transparent; }

.invoices {
  //+linear-gradient(color-stops(white, black))
  //background: url("/images/silk.png") repeat scroll -1407px -871px transparent
}

.new {
  background: url("/images/silk.png") repeat scroll -6px -21px transparent;
  top: -4em; }

.edit {
  background: url("/images/silk.png") repeat scroll -1126px -871px transparent; }

.delete {
  background: url("/images/silk.png") repeat scroll -566px -242px transparent; }

.ok {
  background: url("/images/silk.png") repeat scroll -6px -4px transparent; }

.cancel {
  background: url("/images/silk.png") repeat scroll -286px -293px transparent; }

.started, .completed, .printed {
  background-color: #b0b0b0; }

.issued {
  background-color: #a0a0ff; }

.overdue {
  background-color: #ffa0a0; }

.paid {
  background-color: #d0ffd0; }

.applied_for_court_order, .summons_issued, .enforcable, .unenforcable {
  background-color: #f0a5ff; }

.simple_form {
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }

  div.input {
    margin-bottom: 10px;
  }

  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }

  div.boolean label, .simple_form label.collection_radio {
    float: none;
    margin: 0;
  }

  label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
  }

  .error {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #D00;
    display: block;
  }

  .hint {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

.avatar {
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

