// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "html5-boilerplate";

// Now, you can simply include everything
// (except media) by uncommeting this line
//@include html5-boilerplate;

// Or, you can pick and choose only the sections
// you want by using the these includes
@include html5-boilerplate-reset;
@include html5-boilerplate-fonts;
@include html5-boilerplate-styles;
@include html5-boilerplate-helpers;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";

// Media should come last
@import "partials/media";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/images";

$blueprint-grid-columns: 12;

@import "blueprint";
@import "blueprint/grid";
@import "blueprint/buttons";

$invoice_items_color: rgba(243, 243, 255, 0.9);
$pauses_color: rgba(243, 255, 243, 0.9);

$blueprint-font-family: "Gentium";

@include font-face("Gentium", font-files("/fonts/ttf-sil-gentium/GenR102.ttf", truetype));
@include font-face("Gentium_Bold", font-files("/fonts/ttf-sil-gentium/GenAR102.ttf", truetype));
@include font-face("Gentium_Italic", font-files("/fonts/ttf-sil-gentium/GenI102.ttf", truetype));
@include font-face("Gentium_Bold_Italic", font-files("/fonts/ttf-sil-gentium/GenAI102.ttf", truetype));

body {
  @include background-image(linear-gradient(left top, #efefff, #efefdd)); }

* {
  font-family: "Gentium";
}

.top_menu {
  display: inline-table;
  .menu_item {
    background: rgba(64, 64, 64, 0.3);
    display: inline;
    border: 1px solid rgba(48,48,48,0.3);
    margin-left: 1em;
    padding: 1px 1em;
  }
}

textarea {
  font-family: "Gentium_Bold";
  font-weight: bold; }

dt {
  display: block; }

dd {
  display: block; }

table {
  tr {
    border: 1px solid #404040;
    th {
      border: 1px solid #404040;
      padding: 2px 14px;
      font-weight: bold; }
    td {
      padding: 2px 14px;
      border: 1px dotted #404040; } } }

label {
  display: inline-block;
  margin-right: 1em; }

fieldset {
  border: 0; }

strong {
  font-style: italic;
  font-variant: small-caps;
  font-weight: lighter; }

input {
  font-size: 95%; }

.window {
  border: 1px solid #a0a0a0;
  display: inline-table;
  padding: 0 15px;
  //background-image: -moz-radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%)
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); }

#flashmsg {
  position: fixed;
  left: 30%;
  width: 40%;
  top: 4em;
  z-index: 10000;
  border: 0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-align: center;
  padding: 4px; }

.info {
  background-color: rgba(0, 255, 0, 0.3); }

.warn {
  background-color: rgba(255, 255, 0, 0.3); }

.error {
  background-color: rgba(255, 0, 0, 0.3); }

.fatal {
  background-color: rgba(255, 0, 0, 0.9); }

th {
  background-color: #202020;
  color: white; }

.even {
  background-color: #c0ffc0; }

.odd {}

//invoice index
.invoice_items div {
  background-color: $invoice_items_color;
  margin-left: 2em; }

.pauses div {
  background-color: $pauses_color;
  margin-left: 4em; }

.details-list {
  display: none; }

.details-list.show {
  display: block; }

.details-list li {
  list-style: none; }

.new, .edit, .delete, .details, .invoices, .ok, .cancel {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 0;
  float: right;
  margin-left: 6px; }

.details {
  background: url("/images/silk.png") repeat scroll -5px -734px transparent; }

.invoices {
  //+linear-gradient(color-stops(white, black))
  //background: url("/images/silk.png") repeat scroll -1407px -871px transparent
}

.new {
  background: url("/images/silk.png") repeat scroll -6px -21px transparent;
  top: -4em; }

.edit {
  background: url("/images/silk.png") repeat scroll -1126px -871px transparent; }

.delete {
  background: url("/images/silk.png") repeat scroll -566px -242px transparent; }

.ok {
  background: url("/images/silk.png") repeat scroll -6px -4px transparent; }

.cancel {
  background: url("/images/silk.png") repeat scroll -286px -293px transparent; }

.started, .completed, .printed {
  background-color: #b0b0b0; }

.issued {
  background-color: #a0a0ff; }

.overdue {
  background-color: #ffa0a0; }

.paid {
  background-color: #d0ffd0; }

.applied_for_court_order, .summons_issued, .enforcable, .unenforcable {
  background-color: #f0a5ff; }
