-# CSS: implied media="all"
-%w(jquery-ui.min application).each do |css|
   = stylesheet_link_tag css , :media => 'all', :cache => 'default'
-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets
